:root {
    --fuentePrincipal: "Krub", sans-serif;

    --blanco: #ffffff;
    --negro: #000000;
    --grisClaro: #edeef6;
    --gris: rgb(128, 128, 128);
    --verde: #69B61B;
    --verdeClaro: #7DB445;
    
}

/* Globales */
html {
    box-sizing: border-box; 
    font-size: 62.5%;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: --var(--fuentePrincipal);
    font-size: 1.6rem;
    background-color: whitesmoke;
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, p {
    font-family: var(--fuentePrincipal);
}

/* Globales -------------------------------- */

/* Centra el contenido */
.contenedor { 
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
} 
.centrar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Centra el contenido --------------------- */

/* Utilidades */
.flexEnd {
    display: flex;
    justify-content: flex-end;
}
/* Utilidades ------------------------------ */

/* Header */
.header {
    background-color: var(--negro);
    color: var(--blanco);
    width: 100%;
}
.header__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__titulo {
    margin: 1rem 0 0 0 ;
}
.header__intentos {
    font-size: 2rem;
    margin: 1rem 0;
}


/* Pantalla del juego */
#pantallaJuego {
    margin: 3rem;
    background-color: var(--blanco);
    border: 2px solid var(--gris);
    padding: 1rem;
}
@media (min-width: 768px) {
    #pantallaJuego {
        margin-top: 5rem;
        padding: 2rem;
        width: 80%;
        height: auto;
        display: grid;
        grid-template-rows: .2fr .2fr .6fr;
        grid-template-columns: .4fr .6fr;
    }
}

/* imagen container */

@media (min-width: 768px) {
    .imagenAhorcado-container {
        display: flex;
        grid-row: 1/4;
    }  
}
#ImagenAhorcado {
    position: relative;
    width: 80%;
    margin-bottom: 2px;
    border: 2px solid var(--negro);
    display: flex;
    margin: 0 auto;
}
/* imagen container ------------------------------------------------ */

/* info juego */
.infoJuego {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin-bottom: 1rem;
}

.infoJuego__seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoJuego__titulo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}
.infoJuego__texto {
    font-size: 1rem;
    text-align: center;
    margin: 0 1rem;
}


/* info juego ----------------------------------------------------- */

/* botones */
.botones-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .botones-container {
        grid-column: 2/3;
    }
}

button {
    cursor: pointer;
}
.boton { 
    color: white;
    background-color: black;
    border: none;
    padding: .4rem;
    font-size: 2.5rem;
    margin-bottom: .8rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color .3s ease;
}
.boton:hover {
    background-color: var(--verde);
}

@media (min-width: 768px) {
    .boton {
        padding: .6rem;
    }
}
@media (min-width: 1100px) {
    .boton {
        padding: 1.2rem;
        font-size: 3rem;
        
    }
}
/* botones ---------------------------------------------------- */

/* Espacio de la palabra a adivinar */
@media (min-width: 1000px) {
    .palabraInfo {
        display:flex;
        flex-direction: column;
        justify-content: end;
        
    }
    #palabra {
        margin: 0;
    }
}
#palabra {
    padding: .8rem;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid black;
    
   
}
#palabra span {
    vertical-align: bottom;
    font-size: 2rem;
    display: inline-block;
    text-decoration: underline;
    margin: 0 5px;
} 
/* espacio de la palabra a adivinar ----------------------------- */
/* pantalla juego  ------------------------------------------------ */




/* #acierto {
    text-align: center;
    min-height: 24px;
    font-size: 3rem;
    padding: 2px;
    margin:0;
    font-style: italic;
} */

#popup {
    width: 50%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--negro);
    display: none; 
    opacity: 0.5;
  }



.motivacion {
    display:none;
}