:root {
    --fuentePrincipal: "Krub", sans-serif;

    --blanco: #ffffff;
    --negro: #000000;
    --grisClaro: #edeef6;
}

/* Globales */
html {
    box-sizing: border-box; 
    font-size: 62.5%;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: --var(--fuentePrincipal);
    font-size: 1.6rem;
    background-color: whitesmoke;
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, p {
    font-family: var(--fuentePrincipal);
}

/* Globales -------------------------------- */





#footer {
    background: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    max-height: 5.5rem;
    color: white;
    width: 100%;
}

/* h1 { PENDIENTE DE ARRGLAR
    margin: 0;
} */

/* Pantalla de juego */
#pantallaJuego {
    margin: 0;
    background-color: white;
    border: 2px gray;
    border-style: inset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#recuadroSuperior {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#botones-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
}

/* button { */
    /* color: white;
    background-color: black;
    border: none;
    width: 50px; 
    height: 50px; 
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
} */

#ImagenAhorcado {
    position:relative;
    max-width: 40%;
    margin-bottom: 2px;
    border: outset
}

#acierto {
    text-align: center;
    min-height: 24px;
    font-size: 3rem;
    padding: 2px;
    margin:0;
    font-style: italic;
}

#recuadroMedio {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

#palabra {
    margin: 0;
    padding: 8px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    margin-bottom: 20px;
    width: 97%;
}

#palabra span {
    vertical-align: bottom;
    font-size: 2rem;
    width: auto;
    display: inline-block;
    text-decoration: underline;
    margin: 0 5px;
}

#recuadroInferior {
    text-align: center;
    width: 100%;
}

.rojo {
    color: red;
}
.verde {
    color: green;
}

#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; 
}
.popup {
    width: 40%;
   /* display:inline-block; */
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#finPartida{
    font-size: 3rem;

    padding: 6px;
    margin-bottom: 12px;
    text-align: center;
}

#textoFinal p{
    display: inline;
}

#msgFinal {
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
}

#botonesPopUp{
    text-align: center;
    padding: 8px;
}
#botonesPopUp button{
    font-size: 100%; 
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    justify-content: center;
}
#Inicio{
    background-color: blue;
    color: white;
    margin: 10px;
}
#Reintentar{
    margin: 10px;
}