:root {
    --fuentePrincipal: "Krub", sans-serif;

    --blanco: #ffffff;
    --negro: #000000;
    --grisClaro: #edeef6;
    --gris: rgb(128, 128, 128);
    
}

/* Globales */
html {
    box-sizing: border-box; 
    font-size: 62.5%;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: --var(--fuentePrincipal);
    font-size: 1.6rem;
    background-color: whitesmoke;
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, p {
    font-family: var(--fuentePrincipal);
}

/* Globales -------------------------------- */

/* Centra el contenido */
.contenedor { 
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
} 
.centrar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Centra el contenido --------------------- */

/* Utilidades */
.flexEnd {
    display: flex;
    justify-content: flex-end;
}
/* Utilidades ------------------------------ */

/* Header */
.header {
    background-color: var(--negro);
    color: var(--blanco);
    width: 100%;
}
.header__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__titulo {
    margin: 1rem 0 0 0 ;
}
.header__intentos {
    font-size: 2rem;
    margin: 1rem 0;
}


/* Pantalla del juego */
#pantallaJuego {
    margin: 3rem;
    background-color: var(--blanco);
    border: 2px solid var(--gris);
    padding: 1rem;
    display: grid;
    grid-template-rows: 0.4fr 0.2fr 0.15fr 0.25fr; 
}
@media (min-width: 768px) {
    #pantallaJuego {
        margin-top: 5rem;
        padding: 2rem;
        width: 80%;
        height: unset;
    }
}
/* imagen container */
.imagenAhorcado-container {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    

}
#ImagenAhorcado {
    position:relative;
    min-width: 50%;
    width: 80%;
    margin-bottom: 2px;
    border: 2px solid var(--negro);
}


/* info juego */
.infoJuego {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin-bottom: 1rem;
}
.infoJuego__titulo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}
.infoJuego__texto {
    font-size: 1rem;
    text-align: center;
    margin: 0 1rem;
}
.botones-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    cursor: pointer;
}
.boton { 
    color: white;
    background-color: black;
    border: none;
    padding: .5rem;
    font-size: 2.5rem;
    margin-bottom: .8rem;
    font-weight: bold;
    border-radius: 5px;
}





/* Espacio de la palabra a adivinar */

#palabra {
    padding: .8rem;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
   
}

#palabra span {
    vertical-align: bottom;
    font-size: 2rem;
    display: inline-block;
    text-decoration: underline;
    margin: 0 5px;
} 
/* espacio de la palabra a adivinar ----------------------------- */

/*
#recuadroInferior {
    text-align: center;
    width: 100%;
}


/* #acierto {
    text-align: center;
    min-height: 24px;
    font-size: 3rem;
    padding: 2px;
    margin:0;
    font-style: italic;
} */
/*
#fondoOscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; 
}
.popup {
    width: 40%;
   /* display:inline-block; */
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#finPartida{
    font-size: 3rem;
    
    padding: 6px;
    margin-bottom: 12px;
    text-align: center;
}

#textoFinal p{
    display: inline;
}

#msgFinal {
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
}

#botonesPopUp{
    text-align: center;
    padding: 8px;
}
#botonesPopUp button{
    font-size: 100%; 
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    justify-content: center;
}
#Inicio{
    background-color: blue;
    color: white;
    margin: 10px;
}
#Reintentar{
        margin: 10px;
}

#footer {
    background: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    max-height: 5.5rem;
    color: white;
    width: 100%;
} */

/* h1 { PENDIENTE DE ARRGLAR
    margin: 0;
} */

.motivacion {
    display:none;
}